<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Release:</strong>
  <%= @movie.release %>
</p>

<p>
  <strong>Season:</strong>
  <%= @movie.season %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @movie.episode %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
